In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')

In [2]:
df = pd.read_csv('employees.csv')

In [3]:
df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [4]:
df.describe()

             emp_no
count   1000.000000
mean   10500.500000
std      288.819436
min    10001.000000
25%    10250.750000
50%    10500.500000
75%    10750.250000
max    11000.000000

In [5]:
len(df)

1000

In [6]:
df.isnull().sum()

emp_no        0
birth_date    0
first_name    0
last_name     0
gender        0
hire_date     0
dtype: int64

In [7]:
df.last_name.value_counts()

Kalloufi       4
Danley         4
Dredge         4
Skafidas       4
Narahara       4
              ..
Impagliazzo    1
Conde          1
Chleq          1
Borstler       1
Lowrie         1
Name: last_name, Length: 748, dtype: int64

In [11]:
df.columns

Index(['emp_no', 'birth_date', 'first_name', 'last_name', 'gender',
       'hire_date'],
      dtype='object')

In [12]:
df.dtypes

emp_no         int64
birth_date    object
first_name    object
last_name     object
gender        object
hire_date     object
dtype: object

AttributeError: 'DataFrame' object has no attribute 'employee_id'